h1{
  text-align:center;
}
h3{
  text-align:center;
}
*{
  background-color:#F6BEF0;
  font-family: 'Roboto Condensed', sans-serif;

}
#slideshow{
  text-align:center; 
}
#buttons{
  text-align: center;
}
p{
  background-color:white;
}
img {
  width: 250px;
  height: 250px
}
.hidden{
  visibility:hidden;
}
nav ul {
  padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li{
  display: inline;
  margin-right: 20px;
}
.content{
   background-color:white;
  padding: 25px;
  border:4px dashed black;
  margin: 30px;
}
h2{
  background-color:white;
}
  
