h1{
  text-align:center;
}
h3{
  text-align:center;
}
*{
  background-color:#F6BEF0;
  font-family: 'Roboto Condensed', sans-serif;

}
#slideshow{
  text-align:center; 
}
#buttons{
  text-align: center;
}
#first{
  background-color:white;
  padding: 25px;
  border:4px dashed black;
  margin: 30px;
}
p{
  background-color:white;
}
#second{
   background-color:white;
  padding: 25px;
  border:4px dashed black;
  margin: 30px;
}
#third{
  background-color:white;
  padding: 25px;
  border:4px dashed black;
  margin: 30px;
}
img {
  width: 250px;
  height: 250px
}
.hidden{
  visibility:hidden;
}
